name: Deploy to Azure Container Registry

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Create .env file
      working-directory: ./src
      run: |
        echo "${{ secrets.ENV }}" > .env

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: src
        file: src/Dockerfile
        push: true
        tags: ${{ secrets.ACR_LOGIN_SERVER }}/zava-product-manager:latest
